
@{
    ViewBag.Title = "Forbidden";
}
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/Pict/JaBak.jpg" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>

    <h2 style="font-style: oblique">Forbidden</h2>

</body>