@{
    ViewBag.Title = "Réinitialiser la confirmation du mot de passe";
}
<head>

    <meta charset="utf-8">
    <link rel="icon" href="/Pict/JaBak.jpg"  />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</body>